Doc/img/imgSrc/
TileMaker/TilesMaker.sln
TileMaker/.vs/
*.vcxproj
TileMaker/bin/
TileMaker/bin-int/
*.user
*.filters
TileMaker/ThirdParty/SFML/SFML-3.0.0/
TileMaker/Code/App/bin/
TileMaker/ThirdParty/tmxlite/bin/
TileMaker/Code/App/obj/
